$_colors: (
  blue:   #5992e0,
  gray:   #aaaaaa,
  green:  #8fe974,
  purple: #8e62c9,
  red:    #b74e44,
  yellow: #ffd171
);

$_shades: (
  blue: (
    base:             map-get($_colors, blue),
    lighter:  lighten(map-get($_colors, blue), 10%),
    lightest: lighten(map-get($_colors, blue), 20%),
    darker:    darken(map-get($_colors, blue), 10%),
    darkest:   darken(map-get($_colors, blue), 20%)
  ),
  gray: (
    base:             map-get($_colors, gray),
    lighter:  lighten(map-get($_colors, gray), 15%),
    lightest: lighten(map-get($_colors, gray), 30%),
    darker:    darken(map-get($_colors, gray), 20%),
    darkest:   darken(map-get($_colors, gray), 40%)
  ),
  green: (
    base:             map-get($_colors, green),
    lighter:  lighten(map-get($_colors, green), 10%),
    lightest: lighten(map-get($_colors, green), 20%),
    darker:    darken(map-get($_colors, green), 20%),
    darkest:   darken(map-get($_colors, green), 40%)
  ),
  purple: (
    base:             map-get($_colors, purple),
    lighter:  lighten(map-get($_colors, purple), 10%),
    lightest: lighten(map-get($_colors, purple), 20%),
    darker:    darken(map-get($_colors, purple), 20%),
    darkest:   darken(map-get($_colors, purple), 40%)
  ),
  red: (
    base:             map-get($_colors, red),
    lighter:  lighten(map-get($_colors, red), 10%),
    lightest: lighten(map-get($_colors, red), 20%),
    darker:    darken(map-get($_colors, red), 10%),
    darkest:   darken(map-get($_colors, red), 20%)
  ),
  yellow: (
    base:             map-get($_colors, yellow),
    lighter:  lighten(map-get($_colors, yellow), 10%),
    lightest: lighten(map-get($_colors, yellow), 20%),
    darker:    darken(map-get($_colors, yellow), 10%),
    darkest:   darken(map-get($_colors, yellow), 20%)
  )
);

@function get-shade($color, $hue) {
  @return map-get(map-get($_shades, $color), $hue);
}

$color-brand:                 get-shade(blue, base);
$color-brand-lighter:         get-shade(blue, lighter);
$color-brand-lightest:        get-shade(blue, lightest);
$color-brand-darker:          get-shade(blue, darker);
$color-brand-darkest:         get-shade(blue, darkest);

$color-error:                 get-shade(red, base);
$color-error-lighter:         get-shade(red, lighter);
$color-error-lightest:        get-shade(red, lightest);
$color-error-darker:          get-shade(red, darker);
$color-error-darkest:         get-shade(red, darkest);

$color-highlight:             get-shade(yellow, base);
$color-highlight-lighter:     get-shade(yellow, lighter);
$color-highlight-lightest:    get-shade(yellow, lightest);
$color-highlight-darker:      get-shade(yellow, darker);
$color-highlight-darkest:     get-shade(yellow, darkest);

$color-link:                  get-shade(blue, base);
$color-link-lighter:          get-shade(blue, lighter);
$color-link-lightest:         get-shade(blue, lightest);
$color-link-darker:           get-shade(blue, darker);
$color-link-darkest:          get-shade(blue, darkest);

$color-link-visited:          get-shade(purple, base);
$color-link-visited-lighter:  get-shade(purple, lighter);
$color-link-visited-lightest: get-shade(purple, lightest);
$color-link-visited-darker:   get-shade(purple, darker);
$color-link-visited-darkest:  get-shade(purple, darkest);

$color-neutral:               get-shade(gray, base);
$color-neutral-lighter:       get-shade(gray, lighter);
$color-neutral-lightest:      get-shade(gray, lightest);
$color-neutral-darker:        get-shade(gray, darker);
$color-neutral-darkest:       get-shade(gray, darkest);
