// media queries to use in @media-directives
$query-small:       ('min-width: 400px');
$query-medium:      ('min-width: 600px');
$query-large:       ('min-width: 800px');
$query-extra-large: ('min-width: 1000px');
