$font-family-monospace: 'Courier New', Courier, monospace;
$font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-serif:      Georgia, Times, 'Times New Roman', serif;

$font-family-branding: 'Lato', $font-family-sans-serif;
$font-family-code:     'Source Code Pro', $font-family-monospace;
$font-family-content:  'PT Serif', $font-family-serif;
$font-family-headings: 'PT Serif', $font-family-serif;
$font-family-inputs:   $font-family-sans-serif;
