//   font-size  |   line-height    |    6px     |    10px
// -------------+------------------+------------+------------
//    10px      |  1.8em  /  18px  |  0.6em     |  1em
//    12px      |  1.5em  /  18px  |  0.5em     |
//    15px      |  1.6em  /  24px  |  0.4em     |
//    16px      |  1.5em  /  24px  |  0.375em   |  0.625em
//    20px      |  1.8em  /  36px  |  0.3em     |  0.5em
//    24px      |  1.5em  /  36px  |  0.25em    |
//    25px      |  1.68em /  42px  |  0.24em    |  0.4em
//    30px      |  1.6em  /  48px  |  0.2em     |
//    32px      |  1.5em  /  48px  |  0.1875em  |  0.3125em
//    40px      |  1.5em  /  60px  |  0.15em    |  0.25em
//    48px      |  1.5em  /  72px  |  0.125em   |
//    50px      |  1.56em /  78px  |  0.12em    |  0.2em
//    60px      |  1.5em  /  90px  |  0.1em     |
//    75px      |  1.52em / 114px  |  0.08em    |
//    80px      |  1.5em  / 120px  |  0.075em   |  0.125em
//    96px      |  1.5em  / 144px  |  0.0625em  |
//   100px      |  1.5em  / 150px  |  0.06em    |  0.1em
//   120px      |  1.5em  / 180px  |  0.05em    |

body {
  font-family: $font-family-content;
}

code {
  font-family: $font-family-code;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: font-family-headings;
    weight: 700;
  }
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 0.25em; // 6px
}

h2 {
  font-size: 2em;
  margin-bottom: 0.3em; // 6px
}

h3 {
  font-size: 1.6em;
  margin-bottom: 0.375em; // 6px
}

h4 {
  font: {
    size: 1.6em;
    style: italic;
  }
  margin-bottom: 0.375em; // 6px
}

nav {
  li {
    font-size: 1.6em;
    line-height: 1.5em;
  }
}

p {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin: 0 0 1.5em; // 0 0 24px
}
