@import 'colors.scss';
@import 'fonts.scss';
@import 'media-queries.scss';
@import 'mixins.scss';
@import 'normalize.scss';

a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }
}

body {
  background: $color-neutral-lightest;
  color: $color-neutral-darkest;
  font: {
    family: $font-family-content;
    size: 62.5%;
    weight: 400;
  }
}

footer {
  background: $color-neutral-lighter;
  padding: 1.2em 2%;

  li {
    background-position: top center;
    display: inline-block;
    margin: 0 0.625em;
    padding-top: 2.625em; // 42px
  }

  ol {
    list-style: none;
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $font-family-headings;
    weight: 700;
  }
  margin: 0;
}

h1 {
  font-size: 4em;
  line-height: 1.5em; // 60px
  margin-bottom: 0.3em; // 12px
}

h2 {
  font-size: 3.2em;
  line-height: 1.5em; // 48px
  margin-bottom: 0.375em; // 12px
}

h3 {
  font-size: 2.4em;
  line-height: 1.5em; // 36px
  margin-bottom: 0.5em; // 12px
}

h4 {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin-bottom: 0.75em; // 12px
}

header {
  background: $color-brand-lighter;
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  padding: 3.6em 2%;
  text-align: center;

  > a {
    background-position: top center;
    display: block;
    padding-top: 11.25em;
  }
}

img {
  display: block;
  margin: 0 auto 1.2em;
  width: 100%;
}

li {
  font-size: 1.6em;
  line-height: 1.5em;
}

nav {
  background: $color-brand;
  padding: 1.2em 2%;

  a {
    &,
    &:visited {
      color: $color-neutral-lightest;
    }
  }

  li {
    float: left;
    margin-right: 1.125em; // 20px
  }

  > ol {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
  }
}

ol {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

pre {
  border-left: 0.25em solid $color-neutral-darkest;
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin: 0 0 1.5em;
  padding-left: 0.6875em; // 11px
}

section {
  padding: 1.2em 2%;

  // subnavigation
  > nav {
    background: none;
    padding: 0;

    a {
      display: inline-block;
      font-size: 1.6em;
      line-height: 1.5em; // 24px
      padding: 0.75em 0; // 12px 0

      &,
      &:visited {
        color: $color-link;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

.extra-large {
  width: 100%;
}

.large {
  width: 80%;
}

.medium {
  width: 60%;
}

.small {
  width: 40%;
}
