@import 'colors.scss';
@import 'fonts.scss';
@import 'media-queries.scss';
@import 'mixins.scss';
@import 'normalize.scss';

a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }
}

body {
  background: $color-neutral-lightest;
  color: $color-neutral-darkest;
  font: {
    family: $font-family-content;
    size: 62.5%;
    weight: 400;
  }

  // @media (#{ $query-large }) {
  //   width: 960px;
  // }
}

figcaption {
  color: $color-neutral-darker;
  font-size: 1.5em;
  line-height: 1.6em; // 24px
  text-align: center;
  font-style: italic;
}

footer {
  background: $color-neutral-lighter;
  color: $color-neutral-darker;
  overflow: hidden;
  padding: 2.4em 0;
  text-align: center;

  @media (#{ $query-large }) {
    background: none;
    clear: left;
    float: left;
    width: 33%;
  }

  > div {
    @extend .responsive-container;
  }

  ol {
    list-style: none;
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $font-family-headings;
    weight: 700;
  }
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1.6em; // 48px
  margin-bottom: 0.4em; // 12px
}

h2 {
  font-size: 2.4em;
  line-height: 1.5em; // 36px
  margin-bottom: 0.5em; // 12px
}

h3 {
  font-size: 2em;
  line-height: 1.8em; // 36px
  margin-bottom: 0.6em; // 12px
}

h4 {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin-bottom: 0.75em; // 12px
}

header {
  margin-bottom: 1.2em;

  @media (#{ $query-large }) {
    float: left;
    width: 33%;
  }

  > div {
    @extend .responsive-container;

    padding: 1.2em 0;
    text-align: center;

    > a {
      font-size: 2.5em;
      line-height: 1.44em; // 36px
      text-decoration: none;

      &,
      &:visited {
        color: $color-neutral-darkest;
      }
    }
  }

  li {
    float: left;
    margin-right: 0.625em; // 10px

    @media (#{ $query-large }) {
      float: none;
      text-align: center;
    }
  }

  > nav {
    background: $color-brand;
    padding: 0.6em 0;

    a {
      padding: 0.375em 0; // 6px 0

      &,
      &:visited {
        color: $color-neutral-lightest;
      }
    }

    > ol {
      @extend .responsive-container;
    }
  }
}

hr {
  background: $color-neutral;
  border: 0;
  height: 0.1em;
  margin-bottom: 2.3em;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
}

mark {
  background: $color-highlight-lighter;
  color: $color-highlight-darkest;
  padding: 0.0625em 0.125em; // 1px 2px
}

nav {
  font-family: $font-family-headings;

  a {
    display: block;
  }

  > ol {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
  }
}

ol {
  list-style-position: inside;
  margin: 0 0 2.4em;
  padding: 0;
}

p {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin: 0 0 1.5em; // 0 0 24px
}

pre {
  border-left: 0.25em solid $color-neutral-darkest; // 4px
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin: 0 0 1.5em; // 0 0 24px
  overflow: scroll;
  padding-left: 0.6875em; // 11px
}

section {
  @media (#{ $query-large }) {
    float: right;
    width: 67%;
  }

  > div {
    @extend .responsive-container;
  }

  // subnavigation
  nav {
    font-family: $font-family-content;
    padding: 0;

    a {
      display: inline-block;
      font-size: 1.6em;
      line-height: 1.5em;

      &,
      &:visited {
        color: $color-link;
      }
    }
  }

  // p {
  //   @media (#{ $query-medium }) {
  //     font-size: 2em;
  //     line-height: 1.8em; // 36px
  //     margin-bottom: 1.8em; // 36px
  //   }
  // }
}

table {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin-bottom: 1.5em; // 24px
  width: 100%;
}

tbody {
  tr {
    &:nth-of-type(even) {
      background: $color-neutral-lighter;
    }
  }
}

td {
  padding: 0.1875em 0.625em; // 3px 5px
}

th {
  padding: 0.375em 0.625em; // 6px 5px
  text-align: left;
}

thead {
  tr {
    background: $color-neutral;
  }
}

ul {
  list-style-position: inside;
  margin: 0 0 2.4em;
  padding: 0;
}

.call-to-action {
  @include border-radius(0.125em); // 2px
  @include linear-gradient($color-action-lighter, $color-action);

  border: 0.0625em solid $color-action; // 1px
  padding: 0.6875em 1.1875em; // 11px 19px

  &,
  &:visited {
    color: $color-action-darkest;
  }

  &:hover {
    background: $color-action-lighter;
  }
}

.call-to-action-container {
  text-align: center;
}

.logo {
  position: relative;
  display: inline-block;
  padding-left: 1.5625em; // 30px

  &::before {
    background-size: contain;
    background-position: center center;
    content: '';
    height: 1.25em;
    position: absolute;
    width: 1.25em;
    left: 0;
  }

  &.islovely {
    padding-left: 2.2em; // 55px
    line-height: 1.92em; // 60px

    &::before {
      width: 1.92em; // 60px
      height: 1.92em; // 60px
    }
  }
}

.responsive-container {
  margin: 0 auto;
  width: 96%;
}

.videoContainer {
  margin: 0 auto 2.4em;
  width: 100%;

  > div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#avatar {
  border-radius: 50%;
  width: 49%;
  width: 16em; // 256px
}

#published {
  color: $color-neutral-darker;
  font: {
    size: 1.5em;
    style: italic;
  }
  line-height: 1.6em; // 24px
  margin-bottom: 1.6em; // 24px
}
