@import 'colors.scss';
@import 'fonts.scss';
@import 'media-queries.scss';
@import 'mixins.scss';
@import 'normalize.scss';

a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }
}

body {
  background: $color-neutral-lightest;
  color: $color-neutral-darkest;
  font: {
    family: $font-family-content;
    size: 62.5%;
    weight: 400;
  }
}

footer {
  ol {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $font-family-headings;
    weight: 700;
  }
  margin: 0;
}

h1 {
  font-size: 4em;
  line-height: 1.5em; // 60px
  margin-bottom: 0.3em; // 12px
}

h2 {
  font-size: 3.2em;
  line-height: 1.5em; // 48px
  margin-bottom: 0.375em; // 12px
}

h3 {
  font-size: 2.4em;
  line-height: 1.5em; // 36px
  margin-bottom: 0.5em; // 12px
}

h4 {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin-bottom: 0.75em; // 12px
}

header {
  > a {
    font-size: 2.4em;
    line-height: 1.5em; // 36px
  }
}

hr {
  background: $color-neutral;
  border: 0;
  height: 0.1em;
  margin-bottom: 2.3em;
}

img {
  display: block;
}

li {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
}

nav {
  font-family: $font-family-headings;

  a {
    display: block;
  }

  li {
    float: left;
    margin-right: 1.125em; // 20px
  }

  > ol {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
  }
}

ol {
  list-style-position: inside;
  margin: 0 0 2.4em;
  padding: 0;
}

p {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin: 0 0 1.5em; // 0 0 24px
}

pre {
  border-left: 0.25em solid $color-neutral-darkest; // 4px
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin: 0 0 1.5em; // 0 0 24px
  padding-left: 0.6875em; // 11px
}

section {
  // subnavigation
  > nav {
    font-family: $font-family-content;
    padding: 0;

    a {
      display: inline-block;
      font-size: 1.6em;
      line-height: 1.5em; // 24px

      &,
      &:visited {
        color: $color-link;
      }
    }
  }
}

table {
  font-size: 1.6em;
  line-height: 1.5em; // 24px
  margin-bottom: 1.5em; // 24px
}

ul {
  list-style-position: inside;
  margin: 0 0 2.4em;
  padding: 0;
}

.logo {
  &::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 24px;
  }
}

.screenshot-extra-large {
  width: 100%;
}

.screenshot-large {
  width: 80%;
}

.screenshot-medium {
  width: 60%;
}

.screenshot-small {
  width: 40%;
}

.videoContainer {
  margin: 0 auto 2.4em;
  width: 100%;

  > div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
