.convertkit-form__alert {
  @include _bg("gray", "200");
  border: 0.0625em solid _color("gray", "400");
  border-radius: 0.3rem;
  flex: 1 0 auto;
  list-style: none;
  margin: 2.4em 0;
  padding: 1.2em 1em;
  text-align: center;
  width: 100%;
}

.convertkit-form__alert li {
  @include _font-size(16, short);
}

.convertkit-form__alert:empty {
  display: none;
}

.convertkit-form__alert.convertkit-form__alert--error {
  @include _bg("red", "100");
  @include _border-color("red", "200");
  @include _color("red", "500");
}

.formkit-alert.formkit-alert-success {
  @include _bg("green", "100");
  border: 1px solid _color("green", "200");
  border-radius: 0.3rem;
  @include _color("green", "500");
  @include _font-size(16, short);
  flex: 1 0 auto;
  list-style: none;
  margin: 1.6em 0; /* 24px 0 */
  padding: 0.8em 10px; /* 12px 10px */
  text-align: center;
  width: 100%;
}
