---
page_class: projects
title: Projects
---

%p
  While I often support clients in their projects, the following websites have
  been developed by myself from start to finish. Some, like my CSS-framework
  #{ link_to 'Skeletal', 'http://dhabersack.github.com/skeletal/' }, are still
  in active development.

%p
  Some non-website related projects can be found on
  #{ link_to 'my GitHub profile', 'http://github.com/dhabersack/' }.

- current_page.children.sort_by { |child| child.data.order }.reverse.each do |child|
  %article
    %h3= link_to child.data.title, child.url

    =link_to image_tag("#{ child.url }images/breakpoints/extra-large.jpg"), child.url
