@function darker($color) {
  @return darken($color, 12%);
}

@function darkest($color) {
  @return darken($color, 24%);
}

@function lighter($color) {
  @return lighten($color, 12%);
}

@function lightest($color) {
  @return lighten($color, 24%);
}

$color-blue:   #3581fc;
$color-gray:   #bdbdbd;
$color-green:  #23db2a;
$color-red:    #e33d27;
$color-violet: #904fff;
$color-yellow: #ffe226;
$color-black:  #3e3e3e;

$comment:                     '.c';
$comment-multiline:           '.cm';
$comment-preproc:             '.cp';
$comment-single:              '.c1';
$comment-special:             '.cs';
$error:                       '.err';
$generic-deleted:             '.gd';
$generic-emph:                '.ge';
$generic-error:               '.gr';
$generic-heading:             '.gh';
$generic-inserted:            '.gi';
$generic-output:              '.go';
$generic-prompt:              '.gp';
$generic-strong:              '.gs';
$generic-subheading:          '.gu';
$generic-traceback:           '.gt';
$highlight:                   '.highlight';
$keyword:                     '.k';  // done
$keyword-constant:            '.kc';
$keyword-declaration:         '.kd';
$keyword-namespace:           '.kn';
$keyword-pseudo:              '.kp';  // done
$keyword-reserved:            '.kr';
$keyword-type:                '.kt';
$literal-number:              '.m';
$literal-number-float:        '.mf';
$literal-number-hex:          '.mh';
$literal-number-integer:      '.mi';  // done
$literal-number-integer-long: '.il';
$literal-number-oct:          '.mo';
$literal-string:              '.s';  // done
$literal-string-backtick:     '.sb';
$literal-string-char:         '.sc';
$literal-string-doc:          '.sd';
$literal-string-double:       '.s2';  // done
$literal-string-escape:       '.se';
$literal-string-heredoc:      '.sh';
$literal-string-interpol:     '.si';
$literal-string-other:        '.sx';
$literal-string-regex:        '.sr';  // done
$literal-string-single:       '.s1';  // done
$literal-string-symbol:       '.ss';
$name:                        '.n';
$name-attribute:              '.na';  // done
$name-builtin:                '.nb';  // done
$name-builtin-pseudo:         '.bp';
$name-class:                  '.nc';  // done
$name-constant:               '.no';  // done
$name-decorator:              '.nd';
$name-entity:                 '.ni';
$name-exception:              '.ne';
$name-function:               '.nf';  // done
$name-label:                  '.nl';
$name-namespace:              '.nn';
$name-tag:                    '.nt';  // done
$name-variable:               '.nv';
$name-variable-class:         '.vc';
$name-variable-global:        '.vg';
$name-variable-instance:      '.vi';
$operator:                    '.o';  // done
$operator-word:               '.ow';
$text-whitespace:             '.w';

#{ $comment } { background: $color-red;
  color: #998;
  font-style: italic;
}

#{ $comment-multiline } { background: $color-red;
  color: #998;
  font-style: italic;
}

#{ $comment-preproc } { background: $color-red;
  color: #999;
  font: {
    style: italic;
    weight: bold;
  }
}

#{ $comment-single } { background: $color-red;
  color: #998;
  font-style: italic;
}

#{ $comment-special } { background: $color-red;
  color: #999;
  font: {
    style: italic;
    weight: bold;
  }
}

#{ $error } { background: $color-red;
//  background-color: #e3d2d2;
  color: #a61717;
}

#{ $generic-deleted } { background: $color-red;
//  background-color: #fdd;
color: #000;
}

#{ $generic-emph } { background: $color-red;
  color: #000;
  font-style: italic;
}

#{ $generic-error } { background: $color-red;
  color: #a00;
}

#{ $generic-heading } { background: $color-red;
  color: #999;
}

#{ $generic-inserted } { background: $color-red;
//  background-color: #dfd;
  color: #000;
}

#{ $generic-output } { background: $color-red;
  color: #888;
}

#{ $generic-prompt } { background: $color-red;
  color: #555;
}

#{ $generic-strong } { background: $color-red;
  font-weight: bold;
}

#{ $generic-subheading } { background: $color-red;
  color: #aaa;
}

#{ $generic-traceback } { background: $color-red;
  color: #a00;
}

#{ $highlight } {
  background: none;
}

#{ $keyword } {
  color: darker($color-blue);
}

#{ $keyword-constant } { background: $color-red;
  color: #000;
  font-weight: bold;
}

#{ $keyword-declaration } { background: $color-red;
  color: #000;
  font-weight: bold;
}

#{ $keyword-namespace } { background: $color-red;
  color: #000;
  font-weight: bold;
}

#{ $keyword-pseudo } {
  color: $color-violet;
}

#{ $keyword-reserved } { background: $color-red;
  color: #000;
  font-weight: bold;
}

#{ $keyword-type } { background: $color-red;
  color: #458;
  font-weight: bold;
}

#{ $literal-number } { background: $color-red;
  color: #099;
}

#{ $literal-number-float } { background: $color-red;
  color: #099;
}

#{ $literal-number-hex } { background: $color-red;
  color: #099;
}

#{ $literal-number-integer } {
  color: $color-blue;
}

#{ $literal-number-integer-long } { background: $color-red;
  color: #099;
}

#{ $literal-number-oct } { background: $color-red;
  color: #099;
}

#{ $literal-string-backtick } { background: $color-red;
  color: #d01040;
}

#{ $literal-string-char } { background: $color-red;
  color: #d01040;
}

#{ $literal-string-doc } { background: $color-red;
  color: #d01040;
}

#{ $literal-string },
#{ $literal-string-double },
#{ $literal-string-single } {
  color: darker($color-green);
}

#{ $literal-string-escape } { background: $color-red;
  color: #d01040;
}

#{ $literal-string-heredoc } { background: $color-red;
  color: #d01040;
}

#{ $literal-string-interpol } { background: $color-red;
  color: #d01040;
}

#{ $literal-string-other } { background: $color-red;
  color: #d01040;
}

#{ $literal-string-regex } {
  color: darkest($color-blue);
}

#{ $literal-string-symbol } { background: $color-red;
  color: #990073;
}

#{ $name } {
  color: $color-black;
}

#{ $name-attribute } {
  color: darker($color-blue);
}

#{ $name-builtin } {
  color: lighter($color-blue);
}

#{ $name-builtin-pseudo } { background: $color-red;
  color: #999;
}

#{ $name-class } {
  color: $color-black;
}

#{ $name-constant } {
  color: $color-black;
}

#{ $name-decorator } { background: $color-red;
  color: #3c5d5d;
  font-weight: bold;
}

#{ $name-entity } { background: $color-red;
  color: #800080;
}

#{ $name-exception } { background: $color-red;
  color: #900;
  font-weight: bold;
}

#{ $name-function } {
  color: $color-black;
}

#{ $name-label } { background: $color-red;
  color: #900;
  font-weight: bold;
}

#{ $name-namespace } { background: $color-red;
  color: #555;
}

#{ $name-tag } {
  color: darker($color-blue);
}

#{ $name-variable } { background: $color-red;
  color: #008080;
}

#{ $name-variable-class } { background: $color-red;
  color: #008080;
}

#{ $name-variable-global } { background: $color-red;
  color: #008080;
}

#{ $name-variable-instance } { background: $color-red;
  color: #008080;
}

#{ $operator } {
  color: $color-black;
}

#{ $operator-word } { background: $color-red;
  color: #000;
  font-weight: bold;
}

#{ $text-whitespace } { background: $color-red;
  color: #bbb;
}
