@import 'skeletal/skeletal.scss';

@include font-face(
  $name:      'Lora',
  $path:      '../fonts/Lora/',
  $eot:       'regular.eot',
  $iefix-eot: 'regular.eot?#iefix',
  $woff:      'regular.woff',
  $ttf:       'regular.ttf',
  $svg:       'regular.svg#LoraRegular'
);

@include font-face(
  $name:      'Lora',
  $path:      '../fonts/Lora/',
  $eot:       'italic.eot',
  $iefix-eot: 'italic.eot?#iefix',
  $woff:      'italic.woff',
  $ttf:       'italic.ttf',
  $svg:       'italic.svg#LoraItalic',
  $style:     italic
);

@include font-face(
  $name:      'Lora',
  $path:      '../fonts/Lora/',
  $eot:       'bold.eot',
  $iefix-eot: 'bold.eot?#iefix',
  $woff:      'bold.woff',
  $ttf:       'bold.ttf',
  $svg:       'bold.svg#LoraBold',
  $weight:    bold
);

@include font-face(
  $name:      'Lora',
  $path:      '../fonts/Lora/',
  $eot:       'bold-italic.eot',
  $iefix-eot: 'bold-italic.eot?#iefix',
  $woff:      'bold-italic.woff',
  $ttf:       'bold-italic.ttf',
  $svg:       'bold-italic.svg#LoraBoldItalic',
  $style:     italic,
  $weight:    bold
);

@include font-face(
  $name:      'Istok Web',
  $path:      '../fonts/Istok-Web/',
  $eot:       'regular.eot',
  $iefix-eot: 'regular.eot?#iefix',
  $woff:      'regular.woff',
  $ttf:       'regular.ttf',
  $svg:       'regular.svg#IstokWebRegular'
);

@include font-face(
  $name:      'Istok Web',
  $path:      '../fonts/Istok-Web/',
  $eot:       'italic.eot',
  $iefix-eot: 'italic.eot?#iefix',
  $woff:      'italic.woff',
  $ttf:       'italic.ttf',
  $svg:       'italic.svg#IstokWebItalic',
  $style:     italic
);

@include font-face(
  $name:      'Istok Web',
  $path:      '../fonts/Istok-Web/',
  $eot:       'bold.eot',
  $iefix-eot: 'bold.eot?#iefix',
  $woff:      'bold.woff',
  $ttf:       'bold.ttf',
  $svg:       'bold.svg#IstokWebBold',
  $weight:    bold
);

@include font-face(
  $name:      'Istok Web',
  $path:      '../fonts/Istok-Web/',
  $eot:       'bold-italic.eot',
  $iefix-eot: 'bold-italic.eot?#iefix',
  $woff:      'bold-italic.woff',
  $ttf:       'bold-italic.ttf',
  $svg:       'bold-italic.svg#IstokWebBoldItalic',
  $style:     italic,
  $weight:    bold
);

article {
  > footer {
    > p {
      @include font-size(1.5em);

      color: $color-neutral-darker;
      font-style: italic;
    }
  }

  > header {
    > h2,
    > h3,
    > h4 {
      margin-bottom: 0;
    }

    > p {
      @include font-size(1.5em);

      color: $color-neutral-darker;
      font-style: italic;
    }
  }
}

body {
  @media (#{ $media-query-extra-small }) {
    margin: 0;
    width: 100%;
  }

  > footer {
    background: $color-neutral-lighter;
    border: 0.1em solid transparentize($color-neutral-darkest, 0.8);
    padding: 4.7em 0 2.4em;
    text-align: center;

    > div {
      @include grid($number-of-grid-columns, $center: true, $padding: 0 0 0.6em);

      @media (#{ $media-query-extra-small }) {
        padding: 0 $grid-extra-small-gutter-width;
        width: $grid-extra-small-column-width;
      }
    }
  }

  > header {
    background: $color-brand-lighter;
    margin: 0;
    padding: 1.8em 0;
    text-align: center;
    width: 100%;

    @media (#{ $media-query-medium }) {
      padding: 2.4em 0;
    }

    @media (#{ $media-query-large }) {
      padding: 3em 0;
    }

    @media (#{ $media-query-extra-large }) {
      padding: 3.6em 0;
    }

    a {
      background: url('../images/theme/logo.png') no-repeat center 0.6em;
      font-size: 2em;
      padding: 3.6em 1em 1.05em;
    }

    > div {
      @include grid($number-of-grid-columns, $center: true, $padding: 1.2em 0);

      position: relative;

      @media (#{ $media-query-extra-small }) {
        padding: 0 $grid-extra-small-gutter-width;
        width: $grid-extra-small-column-width;
      }
    }

    h1 {
      font-size: 1em;
      margin-bottom: 2.4em;
      position: relative;
      z-index: 2;
    }

    p {
      margin-bottom: 0;
      position: relative;
      z-index: 2;
    }
  }

  > nav {
    background: $color-brand;
    border: {
      color: transparentize($color-neutral-darkest, 0.8);
      style: solid;
      width: 0.1em 0;
    }
    margin-bottom: 1.2em;
    width: 100%;

    @media (#{ $media-query-medium }) {
      margin-bottom: 1.8em;
    }

    @media (#{ $media-query-large }) {
      margin-bottom: 2.4em;
    }

    @media (#{ $media-query-extra-large }) {
      margin-bottom: 3em;
    }

    a {
      &,
      &:visited {
        color: $color-neutral-lightest;
      }
    }

    > ol {
      @include grid($number-of-grid-columns, $center: true, $padding: 0.5em 0);

      @media (#{ $media-query-extra-small }) {
        padding: 0.5em $grid-extra-small-gutter-width;
        width: $grid-extra-small-column-width;
      }
    }
  }

  > section {
    @include grid($number-of-grid-columns, $center: true);

    @media (#{ $media-query-extra-small }) {
      padding: 0 $grid-extra-small-gutter-width;
      width: $grid-extra-small-column-width;
    }
  }
}

h3 {
  clear: both;
}

.home {
  article {
    @include grid(8, $margin-bottom: 1.8em, $breakpoints: ('medium'), $break-every-nth: 2);
    @include grid(4, $margin-bottom: 3.6em, $breakpoints: ('large', 'extra-large'), $break-every-nth: 4);

    float: left;
    margin-bottom: 3.6em;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 1.125em; // 36px
    text-align: center;
    text-shadow: 0 3px 1px $color-neutral-lighter;

    @media (#{ $media-query-medium }) {
      margin-bottom: 1.35em; // 54px
    }

    @media (#{ $media-query-large }) {
      margin-bottom: 1.44em; // 72px
    }

    @media (#{ $media-query-extra-large }) {
      margin-bottom: 1.5em; // 90px
    }
  }

  > nav {
    margin-bottom: 3.6em;

    @media (#{ $media-query-medium }) {
      margin-bottom: 5.4em;
    }

    @media (#{ $media-query-large }) {
      margin-bottom: 7.2em;
    }

    @media (#{ $media-query-extra-large }) {
      margin-bottom: 9em;
    }
  }

  p {
    clear: both;
  }
}

.projects {
  article {
    margin-bottom: 4.8em;
    overflow: hidden;
    padding-bottom: 2.4em;
  }

  img {
    @include border-radius(0.2em);
    @include box-shadow(0 0.1em 0.4em $color-neutral);

    float: left;

    @media (#{ $media-query-extra-small }) {
      display: none;
    }
  }

  p {
    clear: both;
  }

  .smartphone-to-tablet {
    @include grid(6, $margin-bottom: 2em, $offset: 3, $breakpoints: ('small', 'medium'));
    @include grid(2, $margin-bottom: 0.2em, $offset: 1, $breakpoints: ('large', 'extra-large'));
  }

  .portrait-tablet {
    @include grid(9, $margin-bottom: 2em, $offset: 2, $breakpoints: ('small', 'medium'));
    @include grid(3, $margin-bottom: 0.2em, $breakpoints: ('large', 'extra-large'));
  }

  .default {
    @include grid(12, $margin-bottom: 2em, $offset: 2, $breakpoints: ('small', 'medium'));
    @include grid(4, $margin-bottom: 0.2em, $breakpoints: ('large', 'extra-large'));
  }

  .large-display {
    @include grid(15, $margin-bottom: 2em, $offset: 2, $breakpoints: ('small', 'medium'));
    @include grid(5, $margin-bottom: 0.2em, $breakpoints: ('large', 'extra-large'));

    @media (#{ $media-query-extra-small }) {
      display: block;
      padding: 1%;
      width: 98%;
    }
  }
}
