<footer class="footer">
  <p class="footer__copyright">
    &copy; Dom Habersack, 2020
  </p>

  <ul class="footer__links footer__links--internal">
    <li>
      <a class="footer__link" href="/legal-notice/">
        Legal notice
      </a>
    </li>
  </ul>

  <ul class="footer__links footer__links--social">
    <li>
      <a class="footer__link footer__link--github" href="http://github.com/{{ site.profiles.github }}">
        GitHub
      </a>
    </li>

    <li>
      <a class="footer__link footer__link--twitter" href="http://twitter.com/{{ site.profiles.twitter }}">
        Twitter
      </a>
    </li>

    <li>
      <a class="footer__link footer__link--dribbble" href="http://dribbble.com/{{ site.profiles.dribbble }}">
        Dribbble
      </a>
    </li>

    <li>
      <a class="footer__link footer__link--mastodon" href="http://mastodon.social/{{ site.profiles.mastodonsocial }}">
        Mastodon
      </a>
    </li>
  </ul>
</footer>
