<footer class="footer">
  <div class="footer__content">
    <p>
      &copy; Dom Habersack, 2018
    </p>

    <ul>
      <li>
        <a href="/privacy-policy">Privacy policy</a>
      </li>
      <li>
        <a href="/privacy-policy">Contact</a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="http://github.com/domhabersack">GitHub</a>
      </li>
      <li>
        <a href="http://twitter.com/domhabersack">Twitter</a>
      </li>
      <li>
        <a href="http://dribbble.com/domhabersack">Dribbble</a>
      </li>
      <li>
        <a href="http://mastodon.social/domhabersack">Mastodon</a>
      </li>
    </ul>
  </div>
</footer>
