<nav class="sans-serif">
  <ul class="flex list-style-none margin-0">
    <li>
      <a class="color-blue-600 font-size-xs inline-block line-height-xs-medium visited:color-blue-600" href="/about/">
        About
      </a>
    </li>

    <li class="margin-left-xs">
      <a class="color-blue-600 font-size-xs inline-block line-height-xs-medium visited:color-blue-600" href="/posts/">
        Blog
      </a>
    </li>

    <li class="margin-left-xs">
      <a class="color-blue-600 font-size-xs inline-block line-height-xs-medium visited:color-blue-600" href="/newsletter/">
        Newsletter
      </a>
    </li>

    <li class="margin-left-xs">
      <a class="color-blue-600 font-size-xs inline-block line-height-xs-medium visited:color-blue-600" href="/contact/">
        Contact
      </a>
    </li>
  </ul>
</nav>
