<nav>
  <ul class="flex flex-wrap font-size-16-short font-weight-500 list-style-none margin-0 padding-0">
    <li class="margin-right-s">
      <a class="inline-block" href="/about/">
        About
      </a>
    </li>

    <li class="margin-right-s">
      <a class="inline-block" href="/posts/">
        Blog
      </a>
    </li>

    <li class="margin-right-s">
      <a class="inline-block" href="/newsletter/">
        Newsletter
      </a>
    </li>

    <li>
      <a class="inline-block" href="/contact/">
        Contact
      </a>
    </li>
  </ul>
</nav>
