<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a class="navigation__link" href="/">
        Home
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link" href="/work">
        Work
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link" href="/services">
        Services
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link" href="/blog">
        Blog
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link" href="/about">
        About
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link navigation__link--hire-me" href="/hire-me">
        Hire me
      </a>
    </li>
  </ul>
</nav>
