{% assign index = include.index %}
{% assign post = include.post %}

<article class="post-teaser post-teaser--index-{{ index }}">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="post-teaser__hero">
    </div>
  </a>

  <div class="post-teaser__content">
    <div class="post-teaser__tag">
      {% include tag.html tag=post.category %}
    </div>

    <h2 class="post-teaser__heading">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h2>

    <p class="post-teaser__excerpt">
      {{ post.excerpt }}
    </p>
  </div>

  <footer class="post-teaser__meta">
    {% include post-meta.html date=post.date %}
  </footer>
</article>
