{% assign post = include.post %}

<article class="post-teaser">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="post-teaser__hero" style="background-image: url('/assets/heroes/{{ post.title | slugify }}.jpg')">
    </div>
  </a>

  <div class="post-teaser__content">
    <h2 class="post-teaser__heading">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h2>

    <p class="post-teaser__excerpt">
      {{ post.excerpt }}
    </p>

    <div class="post-teaser__tags">
      {% for category in post.categories %}
        <div class="post-teaser__tag">
          {% include tag.html tag=category %}
        </div>
      {% endfor %}
    </div>

    <div class="post-teaser__meta">
      {% include post-meta.html date=post.date %}
    </div>
  </div>
</article>
