@mixin _background-image-checkbox {
  background-image: url('/assets/icons/checkmark--filled.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.8rem 1.8rem;
}

.background-image-checkbox {
  @include _background-image-checkbox;
}

.checked\:background-image-checkbox:checked {
  @include _background-image-checkbox;
}
