@mixin _bg($color, $shade: "0") {
  background-color: map-get(map-get($_colors, $color), $shade);
}

@function qualifier($key, $value) {
  @if $key != "0" {
    @return -#{$key}
  }

  @return ""
}

@each $color, $list in $_colors {
  @each $key, $value in $list {
    .bg-#{$color}#{qualifier($key, $value)} {
      background-color: $value;
    }

    .checked\:bg-#{$color}#{qualifier($key, $value)}:checked {
      background-color: $value;
    }

    .disabled\:bg-#{$color}#{qualifier($key, $value)}:disabled {
      background-color: $value;
    }

    .hover\:bg-#{$color}#{qualifier($key, $value)}:hover {
      background-color: $value;
    }

    .visited\:bg-#{$color}#{qualifier($key, $value)}:visited {
      background-color: $value;
    }
  }
}
