@mixin _border-color($color, $shade: "0") {
  border-color: map-get(map-get($_colors, $color), $shade);
}

@function qualifier($key, $value) {
  @if $key != "0" {
    @return -#{$key}
  }

  @return ""
}

@each $color, $list in $_colors {
  @each $key, $value in $list {
    .border-#{$color}#{qualifier($key, $value)} {
      border-color: $value;
    }

    .focus\:border-#{$color}#{qualifier($key, $value)}:focus {
      border-color: $value;
    }
  }
}
