@each $key, $value in (
  "0":     0,
  "3":     0.3rem,
  "6":     0.6rem,
  "9":     0.9rem,
  "12":    1.2rem,
  "18":    1.8rem,
  "24":    2.4rem,
  "36":    3.6rem,
  "round": 50%
) {
  .rounded-#{$key} {
    border-radius: $value;
  }

  .rounded-tl-#{$key} {
    border-top-left-radius: $value;
  }

  .rounded-t-#{$key} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .rounded-tr-#{$key} {
    border-top-right-radius: $value;
  }

  .rounded-r-#{$key} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-br-#{$key} {
    border-bottom-right-radius: $value;
  }

  .rounded-b-#{$key} {
    border-bottom-right-radius: $value;
    border-bottom-left-radius: $value;
  }

  .rounded-bl-#{$key} {
    border-bottom-left-radius: $value;
  }

  .rounded-l-#{$key} {
    border-bottom-left-radius: $value;
    border-top-left-radius: $value;
  }
}
