@mixin _color($color, $shade: "0") {
  color: map-get(map-get($_colors, $color), $shade);
}

@function qualifier($key, $value) {
  @if $key != 0 {
    @return -#{$key}
  }
}

@each $color, $list in $_colors {
  @each $key, $value in $list {
    .text-#{$color}#{qualifier($key, $value)} {
      color: $value;
    }

    .disabled\:text-#{$color}#{qualifier($key, $value)}:disabled {
      color: $value;
    }

    .hover\:text-#{$color}#{qualifier($key, $value)}:hover {
      color: $value;
    }

    .visited\:text-#{$color}#{qualifier($key, $value)}:visited {
      color: $value;
    }
  }
}
