.grid-column-gap {
  grid-column-gap: var(--grid-gutter);
}

@each $key, $value in (
  "5":  0.5rem,
  "10": 1rem,
  "15": 1.5rem,
  "20": 2rem,
  "25": 2.5rem,
  "30": 3rem,
  "35": 3.5rem
) {
  .grid-row-gap-#{$key} {
    @include _at-breakpoints {
      grid-row-gap: $value;
    }
  }
}

@for $columns from 1 through 4 {
  .grid-columns-#{$columns} {
    @include _at-breakpoints {
      grid-template-columns: repeat($columns, 1fr);
    }
  }
}
