*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $color-link;
}

body {
  color: $color-body-copy;
  font-family: $font-stack-copy;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headings;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.375; /* 33px */
  margin-bottom: 0.5em; /* 12px */
}

h2 {
  font-size: 2rem;
  line-height: 1.35; /* 27px */
  margin-bottom: 0.6em; /* 12px */
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  line-height: 1.5;
}

li {
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
}

p {
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
  margin: 0 0 1.5em; /* 24px */
}

ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
