body {
  font-family: $font-stack-copy;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headings;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.375; /* 33px */
}

html {
  font-size: 62.5%; /* 10px */
  line-height: 1.5;
}

ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
