*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $color-link;
}

body {
  background: $color-body__background;
  color: $color-body__text;
  font-family: $font-stack-copy;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headings;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.375; /* 33px */
  margin-bottom: 0.5em; /* 12px */
}

h2 {
  font-size: 2rem;
  line-height: 1.35; /* 27px */
  margin-bottom: 0.6em; /* 12px */
}

h3 {
  font-size: 1.6rem;
  line-height: 1.3125em; /* 21px */
  margin-bottom: 0.75em; /* 12px */
}

hr {
  background: $color-horizontal-rule;
  border: 0;
  border-radius: 50%;
  height: 0.1em;
  margin: 1.7em auto 2.9em;
  width: 90%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  line-height: 1.5;
}

li {
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
}

p {
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
  margin: 0 0 1.5em; /* 24px */
}

table {
  border-collapse: collapse;
  font-family: $font-stack-tables;
  margin: 0 0 2.4em;
  width: 100%;
}

tbody {
}

tbody td {
  background: _color(gray, lightest);
  text-align: right;
}

tbody th {
  background: _color(gray, lighter);
  text-align: right;
}

td {
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
  padding: 0.375em 0.625em; /* 6px 10px */
}

tfoot {
  background: _color(gray, medium);
}

tfoot th {
  text-align: right;
}

th {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; /* 24px */
  padding: 0.375em 0.625em; /* 6px 10px */
}

thead {
}

thead th:not(:empty) {
  background: _color(gray, lighter);
  text-align: right;
}

ol {
  margin: 0 0 2.4em;
  padding: 0;
}

ul {
  margin: 0 0 2.4em;
  padding: 0;
}
