@mixin display-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

@mixin flex($attributes) {
  -webkit-flex: $attributes;
  -ms-flex: $attributes;
  flex: $attributes;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
