$_stacks: (
  monospace:  ('Source Code Pro', 'Courier New', Courier, monospace),
  sans-serif: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  serif:      (Georgia, Times, 'Times New Roman', serif)
);

$font-stack-code:     map-get($_stacks, monospace);
$font-stack-content:  map-get($_stacks, sans-serif);
$font-stack-headings: map-get($_stacks, sans-serif);
