$query-extra-small: 'min-width: #{  4 * 12 * 10 }px';
$query-small:       'min-width: #{  5 * 12 * 10 }px';
$query-medium:      'min-width: #{  6 * 12 * 10 }px';
$query-large:       'min-width: #{  8 * 12 * 10 }px';
$query-extra-large: 'min-width: #{ 10 * 12 * 10 }px';

%responsive-container {
  margin: 0 2%;

  @media ($query-small) {
    margin: {
      left: 4%;
      right: 4%;
    }
  }

  @media ($query-medium) {
    margin: {
      left: 8%;
      right: 8%;
    }
  }

  @media ($query-large) {
    margin: {
      left: 16%;
      right: 16%;
    }
  }

  @media ($query-extra-large) {
    margin: {
      left: auto;
      right: auto;
    }
    width: 72rem;
  }
}
