*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-kerning: auto;
  font-size: 62.5%; /* 10px */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* prevent font-scaling on rotation in mobile Safari */
}
