// light (300)
// light italic (300)

@font-face {
  font-family: 'Source Code Pro';
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/source-code-pro/light.ttf.woff2') format('woff2'),
       url('/fonts/source-code-pro/light.otf.woff') format('woff'),
       url('/fonts/source-code-pro/light.otf') format('opentype'),
       url('/fonts/source-code-pro/light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/source-code-pro/light-italic.ttf.woff2') format('woff2'),
       url('/fonts/source-code-pro/light-italic.otf.woff') format('woff'),
       url('/fonts/source-code-pro/light-italic.otf') format('opentype'),
       url('/fonts/source-code-pro/light-italic.ttf') format('truetype');
}
