@import 'skeletal/skeletal.scss';

@include font-face(
  $name: 'Amaranth',
  $path: '/assets/fonts/Amaranth/',
  $eot:  'regular.eot',
  $woff: 'regular.woff',
  $ttf:  'regular.ttf',
  $svg:  'regular.svg#AmaranthRegular'
);

@include font-face(
  $name:  'Amaranth',
  $path:  '/assets/fonts/Amaranth/',
  $eot:   'italic.eot',
  $woff:  'italic.woff',
  $ttf:   'italic.ttf',
  $svg:   'italic.svg#AmaranthItalic',
  $style: italic
);

@include font-face(
  $name:  'Amaranth',
  $path:  '/assets/fonts/Amaranth/',
  $eot:   'bold.eot',
  $woff:  'bold.woff',
  $ttf:   'bold.ttf',
  $svg:   'bold.svg#AmaranthBold',
  $weight: bold
);

@include font-face(
  $name:  'Amaranth',
  $path:  '/assets/fonts/Amaranth/',
  $eot:   'bold-italic.eot',
  $woff:  'bold-italic.woff',
  $ttf:   'bold-italic.ttf',
  $svg:   'bold-italic.svg#AmaranthBoldItalic',
  $style:  italic,
  $weight: bold
);

@include font-face(
  $name: 'Entypo',
  $path: '/assets/fonts/Entypo/',
  $eot:  'regular.eot',
  $woff: 'regular.woff',
  $ttf:  'regular.ttf',
  $svg:  'regular.svg#entypo'
);

@include font-face(
  $name: 'Lora',
  $path: '/assets/fonts/Lora/',
  $eot:  'regular.eot',
  $woff: 'regular.woff',
  $ttf:  'regular.ttf',
  $svg:  'regular.svg#LoraRegular'
);

@include font-face(
  $name:  'Lora',
  $path:  '/assets/fonts/Lora/',
  $eot:   'italic.eot',
  $woff:  'italic.woff',
  $ttf:   'italic.ttf',
  $svg:   'italic.svg#LoraItalic',
  $style: italic
);

@include font-face(
  $name:   'Lora',
  $path:   '/assets/fonts/Lora/',
  $eot:    'bold.eot',
  $woff:   'bold.woff',
  $ttf:    'bold.ttf',
  $svg:    'bold.svg#LoraBold',
  $weight: bold
);

@include font-face(
  $name:   'Lora',
  $path:   '/assets/fonts/Lora/',
  $eot:    'bold-italic.eot',
  $woff:   'bold-italic.woff',
  $ttf:    'bold-italic.ttf',
  $svg:    'bold-italic.svg#LoraBoldItalic',
  $style:  italic,
  $weight: bold
);

@include font-face(
  $name:  'Pacifico',
  $path:  '/assets/fonts/Pacifico/',
  $eot:   'regular.eot',
  $woff:  'regular.woff',
  $ttf:   'regular.ttf',
  $svg:   'regular.svg#PacificoRegular'
);

body {
  margin: 0;
  width: 100%;

  > header {
    @include grid($number-of-grid-columns, $padding: 1.8em 0, $center: true);

    overflow: hidden;
    padding: 1.8em $grid-extra-small-gutter-width;
    width: $grid-extra-small-column-width;
  }

  > section {
    @include grid($number-of-grid-columns, $padding: 3.6em 0 2.4em, $center: true);

    padding: 0 $grid-extra-small-gutter-width;
    width: $grid-extra-small-column-width;
  }
}

button {
  @include background-gradient($color-highlight-lighter, $color-highlight);
  @include border-radius(0.125em);

  border-color: $color-highlight-lightest $color-highlight-darker $color-highlight-darker $color-highlight-lightest;
  color: $color-highlight-darkest;
  float: none;
  height: 2.75em; // 44px
  line-height: 2.75em; // 44px
  margin: 1.5em auto 0.375em;
  padding: 0 1.5em; // 0 24px
  text-shadow: 0 1px 2px $color-highlight-lightest;

  &:active {
    @include box-shadow(inset 0 0.0625em 0.25em $color-highlight-darker);

    background: $color-highlight;
    border-color: $color-highlight-darker;
    position: relative;
    top: 1px;
  }

  &::before {
    content: 'x'; // download-icon
    float: left;
    font: {
      family: 'Entypo';
      size: 3em; // 48px
    }
    margin-right: 5px;
  }
}

footer {
  @include box-shadow(inset 0 0 0.4em $color-neutral);

  background: $color-neutral-lighter;
  border-top: 0.1em solid transparentize($color-neutral-darkest, 0.8);
  color: $color-neutral-darker;
  margin: 1.1em 0 0 0;
  padding: 0;
  text-shadow: 0 1px 2px $color-neutral-lightest;
  width: 100%;

  > div {
    @include grid($number-of-grid-columns, $padding: 3em 0 1.2em, $center: true);

    padding: 3em $grid-extra-small-gutter-width 1.2em;
    overflow: hidden;
    width: $grid-extra-small-column-width;
  }

  p {
    @include font-size(1.2em);

    float: left;

    @media (#{ $media-query-medium }) {
      float: right;
    }

    @media (#{ $media-query-large }) {
      float: right;
    }

    @media (#{ $media-query-extra-large }) {
      float: right;
    }

    &:last-of-type {
      text-align: left;

      @media (#{ $media-query-medium }) {
        float: left;
      }

      @media (#{ $media-query-large }) {
        float: left;
      }

      @media (#{ $media-query-extra-large }) {
        float: left;
      }
    }
  }
}

form {
  text: {
    align: center;
    shadow: 0 1px 2px $color-neutral-darkest;
  }
}

h1 {
  @include font-size(3.2em);

  color: $color-red;
  float: left;
  font: {
    family: 'Pacifico', $font-family-headings;
    weight: normal;
  }
  margin: 0 0.3125em 0 0;
  text-shadow: 0 1px 2px $color-neutral;

  @media (#{ $media-query-medium }) {
    @include font-size(4em);
  }

  @media (#{ $media-query-large }) {
    @include font-size(5em);
  }

  @media (#{ $media-query-extra-large }) {
    @include font-size(6em);
  }

  > a {
    text-decoration: none;
  }
}

h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', $font-family-headings;
}

nav {
  clear: both;
  font-family: 'Lora', $font-family-content;
  margin-bottom: 0;
  width: auto;

  @media (#{ $media-query-medium }) {
    clear: none;
    float: right;
    margin-top: 1.2em;
  }

  @media (#{ $media-query-large }) {
    clear: none;
    float: right;
    margin-top: 2.1em;
  }

  @media (#{ $media-query-extra-large }) {
    clear: none;
    float: right;
    margin-top: 2.4em;
  }
}

.icon-heart {
  font-family: 'Entypo';
}

#back {
  @include font-size(1.6em);

  float: left;
  margin: 0.75em 0 0; // 12px 0 0

  @media (#{ $media-query-medium }) {
    margin-top: 1.125em; // 18px
  }

  @media (#{ $media-query-large }) {
    margin-top: 1.6875em; // 27px
  }

  @media (#{ $media-query-extra-large }) {
    margin-top: 2.0625em; // 33px
  }

  &::before {
    content: '\002190 '; // &larr;
    font-family: 'Entypo';
    margin-right: 0.25em;
  }
}

#download-server {
  button {
    @include background-gradient($color-action-lighter, $color-action);

    border-color: $color-action-lightest $color-action-darker $color-action-darker $color-action-lightest;
    color: $color-action-darkest;
    text-shadow: 0 1px 2px $color-action-lightest;

    &:active {
      @include box-shadow(inset 0 0.0625em 0.25em $color-action-darker);

      background: $color-action;
      border-color: $color-action-darker;
    }

    &::before {
      content: "@"; // gear-icon
    }
  }
}

#hero {
  background: url('../images/background-hero.png') center top;
  border: {
     color: transparentize($color-neutral-darkest, 0.8);
     style: solid;
     width: 0.1em 0;
  }
  color: $color-neutral-lightest;
  text-shadow: 0 1px 1px $color-neutral-darker;
  width: 100%;

  > div {
    @include grid($number-of-grid-columns, $center: true);

    overflow: hidden;
  }

  h3 {
    @include font-size(2em);

    margin: 1.8em 0 0.6em; // 36px 0 12px

    @media (#{ $media-query-large }) {
      @include font-size(2.4em);

      margin: 1.5em 0 0.5em; // 36px 0 12px
    }

    @media (#{ $media-query-extra-large }) {
      @include font-size(3em);

      margin: 1.2em 0 0.4em; // 36px 0 12px
    }
  }

  img {
    @include border-radius(0.2em);
    @include grid($number-of-grid-columns, $breakpoints: ('small'));
    @include grid(8, $last: true, $breakpoints: ('medium', 'large', 'extra-large'));

    float: right;
  }

  section {
    @include grid($number-of-grid-columns, $breakpoints: ('small'));
    @include grid(8, $breakpoints: ('medium', 'large', 'extra-large'));

    float: left;
  }
}

#introduction {
  li {
    @include grid(8, $break-every-nth: 2, $breakpoints: ('medium'));
    @include grid(4, $break-every-nth: 4, $breakpoints: ('large', 'extra-large'));

    font-size: 1em;
  }

  > ul {
    list-style: none;
    margin-bottom: 1.2em;
    overflow: hidden;
  }
}

#team {
  @include box-shadow(inset 0 0 0.4em $color-neutral-darkest);

  background: url('../images/background.png') center top;
  border: {
     color: $color-neutral-darkest;
     style: solid;
     width: 0.1em 0;
  }
  color: $color-neutral-lightest;
  width: 100%;

  > div {
    @include grid($number-of-grid-columns, $center: true);

    > p {
      text-shadow: 0 1px 2px $color-neutral-darkest;
    }
  }

  h3 {
    text-shadow: 0 1px 2px $color-neutral-darkest;
  }

  h4 {
    @include font-size(1.6em);

    font-family: $font-family-content;
  }

  header {
    border-top: 0.1em solid $color-neutral-lighter;
    padding: 0.5em 0.5em 0.6em;
  }

  img {
    @include border-radius(0.2em 0.2em 0 0);

    width: 100%;
  }

  li {
    @include border-radius(0.2em);
    @include box-shadow(0 0.1em 0.2em $color-neutral-darkest);
    @include grid(6, $margin-bottom: 0.6em, $breakpoints: ('small'));
    @include grid(4, $margin-bottom: 1.2em, $breakpoints: ('medium'));
    @include grid(3, $margin-bottom: 1.8em, $breakpoints: ('large', 'extra-large'));

    background: $color-neutral-lightest;
    color: $color-neutral-darkest;
    float: left;
    font-size: 1em;
    margin-bottom: 0.6em;
    position: relative;

    @media (#{ $media-query-small }) {
      &:nth-of-type(2n + 1) {
        @include grid(6, $margin-bottom: 0.6em, $offset: 2, $breakpoints: ('small'));
      }

      &:nth-of-type(7) {
        @include grid(6, $margin-bottom: 0.6em, $offset: 5, $breakpoints: ('small'));

        clear: left;
      }
    }

    @media (#{ $media-query-medium }) {
      &:nth-of-type(3n + 1) {
        @include grid(4, $margin-bottom: 1.2em, $offset: 2, $breakpoints: ('medium'));
      }

      &:nth-of-type(7) {
        @include grid(4, $margin-bottom: 1.2em, $offset: 6, $breakpoints: ('medium'));

        clear: left;
      }
    }

    @media (#{ $media-query-large }) {
      &:nth-of-type(4n + 1) {
        @include grid(3, $margin-bottom: 1.2em, $offset: 2, $breakpoints: ('large'));
      }

      &:nth-of-type(5) {
        @include grid(3, $margin-bottom: 1.2em, $offset: 3.5, $breakpoints: ('large'));

        clear: left;
      }
    }

    @media (#{ $media-query-extra-large }) {
      &:nth-of-type(4n + 1) {
        @include grid(3, $margin-bottom: 1.8em, $offset: 2, $breakpoints: ('extra-large'));
      }

      &:nth-of-type(5) {
        @include grid(3, $margin-bottom: 1.8em, $offset: 3.5, $breakpoints: ('extra-large'));

        clear: left;
      }
    }
  }

  ul {
    @include grid($number-of-grid-columns, $margin-bottom: 1.8em, $center: true);

    color: $color-neutral-darkest;
    list-style: none;
    overflow: hidden;

    p {
      @include font-size(1.2em);

      color: $color-neutral-darker;
      margin-bottom: 0;
    }
  }
}
