$_stacks: (
  serif: (source-serif-pro, serif),
  sans-serif: (soleil, sans-serif),
  monospace: (source-code-pro, monospace)
);

$font-stack-code:     map-get($_stacks, monospace);
$font-stack-copy:     map-get($_stacks, serif);
$font-stack-headings: map-get($_stacks, sans-serif);
$font-stack-tables:   map-get($_stacks, sans-serif);
