$_stacks: (
  serif: (source-serif-pro, serif),
  sans-serif: (soleil, sans-serif),
  monospace: (monospace)
);

$font-stack-headings: map-get($_stacks, serif);
$font-stack-copy: map-get($_stacks, sans-serif);
$font-stack-code: map-get($_stacks, monospace);