$_stacks: (
  serif: (
    source-serif-pro,
    serif
  ),
  sans-serif: (
    soleil,
    sans-serif
  ),
  monospace: (
    source-code-pro,
    monospace
  )
);

@function _fonts($stack) {
  @return map-get($_stacks, $stack);
}

$font-stack-code:     _fonts(monospace);
$font-stack-copy:     _fonts(serif);
$font-stack-headings: _fonts(sans-serif);
$font-stack-meta:     _fonts(sans-serif);
$font-stack-tables:   _fonts(sans-serif);
