$query-extra-small: 'min-width: #{  4 * 12 * 10 }px';
$query-small:       'min-width: #{  5 * 12 * 10 }px';
$query-medium:      'min-width: #{  6 * 12 * 10 }px';
$query-large:       'min-width: #{  8 * 12 * 10 }px';
$query-extra-large: 'min-width: #{ 11 * 12 * 10 }px';
