@function _min-width($width) {
  @return 'min-width: #{$width}px';
}

$query-extra-small: _min-width(120 * 4);
$query-small:       _min-width(120 * 5);
$query-medium:      _min-width(120 * 6);
$query-large:       _min-width(120 * 8);
$query-extra-large: _min-width(120 * 11);
