.device-desktop::before,
.icon-device-desktop { background-image: url('grunticon/device-desktop.png'); background-repeat: no-repeat; }

.device-laptop::before,
.icon-device-laptop { background-image: url('grunticon/device-laptop.png'); background-repeat: no-repeat; }

.device-smartphone::before,
.icon-device-smartphone { background-image: url('grunticon/device-smartphone.png'); background-repeat: no-repeat; }

.device-tablet::before,
.icon-device-tablet { background-image: url('grunticon/device-tablet.png'); background-repeat: no-repeat; }

.logo-github::before,
.icon-logo-github { background-image: url('grunticon/logo-github.png'); background-repeat: no-repeat; }

.icon-logo-islovely { background-image: url('grunticon/logo-islovely.png'); background-repeat: no-repeat; }

.logo-twitter::before,
.icon-logo-twitter { background-image: url('grunticon/logo-twitter.png'); background-repeat: no-repeat; }

