.icon-github-logo,
.github.logo { background-image: url(png/github-logo.png); background-repeat: no-repeat; }

.icon-islovely-logo,
.islovely.logo { background-image: url(png/islovely-logo.png); background-repeat: no-repeat; }

.icon-twitter-logo,
.twitter.logo { background-image: url(png/twitter-logo.png); background-repeat: no-repeat; }