:root {
  --responsive-container-horizontal-padding: 2%;

  @media ($query-extra-small) {
    --responsive-container-horizontal-padding: 4%;
  }

  @media ($query-small) {
    --responsive-container-horizontal-padding: 6%;
  }

  @media ($query-medium) {
    --responsive-container-horizontal-padding: 8%;
  }

  @media ($query-large) {
    --responsive-container-horizontal-padding: 10%;
  }

  @media ($query-extra-large) {
    --responsive-container-horizontal-padding: calc(50vw - 54em);
  }
}

@mixin responsive-container {
  padding-left: var(--responsive-container-horizontal-padding);
  padding-right: var(--responsive-container-horizontal-padding);
}
