@import 'normalize.scss';
@import 'sass/imports.scss';

body {
  font-size: 62.5%;

  > footer,
  > header,
  > section {
    background: $color-neutral-lighter;
    padding: 0 2%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  background: $color-neutral-lighter;
  padding: 0 2%;

  a {
    font-size: 1.6em;
    line-height: 1.5em;
  }

  li {
    display: block;
    float: left;
    margin-right: 1em;
  }

  ol {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
}

p {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}
