@mixin _monospace {
  font-family: source-code-pro, // 300, 300 italic
               monospace;
  -webkit-font-smoothing: auto;
}

.monospace {
  @include _monospace;
}

@mixin _sans-serif {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', Inter, sans-serif;
  }
}

.sans-serif {
  @include _sans-serif;
}

@mixin _serif {
  font-family: source-serif-pro, // 300, 300 italic, 600, 600 italic
               serif;
}

.serif {
  @include _serif;
}
