.monospace {
  font-family: source-code-pro, // 300, 300 italic
               monospace;
}

.sans-serif {
  font-family: soleil, // 400, 400 italic, 700, 700 italic
               sans-serif;
}

.serif {
  font-family: source-serif-pro, // 300, 300 italic, 600, 600 italic
               serif;
}
