.l-default {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-default__content {
  @include responsive-container;

  flex: 1 0 auto;
  padding-bottom: 6em;
  padding-top: 4.8em;
  width: 100%;
}

.l-default__content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.l-default__footer {
  flex: none;
}

.l-default__header {
  flex: none;
}
