.l-default {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-default__content {
  @media ($query-medium) {
    margin: 0 auto;
    width: _columns(10, 12);
  }

  @media ($query-large) {
    width: _columns(8, 12);
  }
}

.l-default__main {
  @include responsive-container;

  flex: 1 0 auto;
  padding-bottom: 6em;
  padding-top: 4.8em;
  width: 100%;

  li {
    @include body-copy;

    margin: 0 0 0.1875em; /* 0 0 3px */

    @media ($query-extra-small) {
      margin-bottom: #{(6 / 18)}em;
    }

    @media ($query-medium) {
      margin-bottom: 0.3em; /* 6px */
    }

    @media ($query-large) {
      margin-bottom: #{(6 / 22)}em;
    }
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  ol,
  ul {
    margin: 0 auto 1.5em;
    padding: 0;

    @media ($query-extra-small) {
      margin-bottom: 1.8em;
      width: _columns(10, 12);
    }

    @media ($query-medium) {
      margin-bottom: 2.1em;
      width: _columns(8, 10);
    }

    @media ($query-large) {
      margin-bottom: 2.4em;
      width: _columns(6, 8);
    }
  }
}

.l-default__main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.l-default__footer {
  @include responsive-container;

  background: _color(gray, 200);
  flex: none;
}

.l-default__header {
  @include responsive-container;

  background: _color(white);
  flex: none;
}
