.l-newsletter {}

.l-newsletter li {
  list-style: none;
  margin-bottom: 0.9375em; /* 15px */
  padding-left: 1.875em; /* 30px */;
  position: relative;

  @media ($query-extra-small) {
    margin-bottom: 1em; /* 18px */
    padding-left: 2em; /* 36px */
  }

  @media ($query-medium) {
    margin-bottom: 0.9em; /* 18px */
    padding-left: 1.5em; /* 30px */
  }

  @media ($query-large) {
    margin-bottom: 21px;
    padding-left: 1.5em; /* 33px */
  }
}

.l-newsletter li::before {
  background-image: url('/assets/icons/checkmark--filled.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2em;
  border: 2px solid _color(blue, 500);
  border-radius: 50%;
  content: '';
  display: block;
  font-size: 1rem;
  height: 2.4em;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.4em;

  @media ($query-extra-small) {
    background-size: 1.5em;
    height: 2.7em;
    width: 2.7em;
  }

  @media ($query-medium) {
    background-size: 1.2em;
    height: 2.4em;
    top: 0.3em;
    width: 2.4em;
  }

  @media ($query-large) {
    background-size: 1.5em;
    height: 2.7em;
    width: 2.7em;
  }
}
