---
description: Articles on education, development, and media.
title: Blog
---

- current_page.children.sort_by { |child| child.data.date }.reverse.each do |child|
  %article
    %header
      %h3= link_to child.data.title, child.url

    %p= child.data.summary
