.footer {
  background: $color-neutral-lightest;
  font-size: 1.6rem;
  line-height: 1.5em; // 24px
  overflow: hidden;
  padding: {
    bottom: 1.5em; // 24px
    top: 1.5em; // 24px
  }
  text-align: center;

  @media ($query-small) {
    font-size: 2rem;
  }

  &__about {
    font-size: inherit;
  }

  &__content {
    @extend %responsive-container;
  }

  &__feed {
    font-size: inherit;
    margin-bottom: 0;
  }

  &__profile {
    font-size: inherit;
  }

  &__profiles {
    list-style: none;
    margin-bottom: 1.5em; // 24px
  }
}
