.header {
  // background: #ebf9fa;
  background: #fefefe;
  padding: 1.8em 0;
}

.header__content {
  @include responsive-container;

  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.6rem;
  line-height: 1.5;
}

.header__navigation {}
