.icon {
  align-items: center;
  display: flex;
  height: 100%;
}

.icon__label {
  @include _font-size(16, medium);
  margin-bottom: 0;
  white-space: nowrap;
}

.icon__svg {
  fill: currentColor;
  flex-shrink: 0;
  margin-right: 0.5em;

  @media ($query-small) {
    height: 3em;
    width: 3em;
  }

  @media ($query-large) {
    height: 3.6em;
    width: 3.6em;
  }
}
