.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__content {
  @include responsive-container;

  flex: 1 0 auto;
  padding-bottom: 6em;
  padding-top: 4.8em;
}

.layout__footer {
  flex: none;
}

.layout__header {
  flex: none;
}
