.navigation {}

.navigation__item {}

.navigation__item + .navigation__item {
  margin-left: 1em;
}

.navigation__link {
  font-size: 1.6rem;
}

.navigation__link--hire-me {
  background: #b4d455;
}

.navigation__list {
  display: flex;
  list-style: none;
}
