.post-meta {
  align-items: center;
  display: flex;
  font-family: $font-stack-meta;
}

.post-meta__date,
.post-meta__name {
  font-size: 1.2rem;
  line-height: 1.25; /* 15px */
}

.post-meta__date {
  color: $color-tertiary-content;
  margin: 0;
}

.post-meta__name {
  color: $color-secondary-content;
  font-weight: 700;
  margin: 0 0 0.25em; /* 0 0 3px */
}

.post-meta__picture {
  background-image: url('/assets/dom.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-right: 1em;
  padding: 10px;
  height: 4.2em;
  width: 4.2em;
}
