.post-teaser {
  background: #fefefe;
  border-radius: 0.6em;
  box-shadow: 0 0.3em 0.6em hsla(0, 0%, 0%, 0.08), 0 0.2em 0.4em hsla(0, 0%, 0%, 0.04);
  height: 100%;
  overflow: hidden;
}

.post-teaser__tag {
  margin-bottom: 0.6em;
}

.post-teaser__content {
  padding: 1.2em 1.5em;
}

.post-teaser__excerpt {
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
  margin-bottom: 0;
}

.post-teaser__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-stack-headings;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.post-teaser__heading {
  font-size: 2rem;
  font-size: 1.6rem;
  line-height: 1.35; /* 27px */
  margin-bottom: 0.3em; /* 6px */
  margin-top: 0;
}

.post-teaser__hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56.25%;
}

.post-teaser__timestamp {
  color: $color-secondary-content;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.5em; /* 6px */
}

@for $index from 0 through 100 {
  .post-teaser.post-teaser--index-#{ $index } .post-teaser__hero {
    background-image: url('/assets/heroes/hero-#{ $index }.jpg');
  }
}
