.tag {
  background: _color(gray, 200);
  border-radius: 0.25em; /* 3px */
  display: inline-block;
  font-family: _fonts(sans-serif);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5; /* 18px */
  padding: 0.25em 0.5em; /* 3px 6px */
  white-space: nowrap;

  &,
  &:visited {
    color: $color-tertiary-content;
  }
}
