.teasers {
  display: grid;
  grid-column-gap: var(--grid-gutter);
  grid-row-gap: 0.6em;
  grid-template-columns: 1fr;

  @media ($query-extra-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media ($query-medium) {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-column-gap: 1.5vw;
  }

  @media ($query-extra-large) {
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 1vw;
  }
}

.teasers__teaser {
  margin-bottom: 1.2em;
}
