.teasers {
  display: grid;
  grid-column-gap: var(--grid-gutter);
  grid-row-gap: 2.4em;
  grid-template-columns: 1fr;

  @media ($query-small) {
    grid-row-gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
  }

  @media ($query-medium) {
    grid-row-gap: 2.1em;
    grid-template-columns: repeat(3, 1fr);
  }

  @media ($query-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
