.teaser {
  @include box-shadow-s;

  background: #fefefe;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.teaser__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.2em 1.5em;
}

.teaser__excerpt {
  flex-grow: 1;
  font-size: 1.6rem;
  line-height: 1.5; /* 24px */
  margin: 0 0 1.125em; /* 0 0 18px */
}

.teaser__heading {
  font-size: 1.6rem;
  line-height: 1.3125; /* 21px */
  margin: 0 0 0.375em; /* 0 0 6px */
}

.teaser__hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56.25%;
}

.teaser__tag {
  margin: 0 0.5em 0.6em 0;
}

.teaser__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.6em;
}
