.video {}

.video__duration {
  @include _color(gray, 500);
}

.video__number {
  @include _color(gray, 500);
}

.video__title {
  font-size: 1.6rem;
  font-weight: 400;
}

.video__video-wrapper {
  height: 0;
  margin-bottom: 0.3em;
  padding-bottom: 62.5%;
  position: relative;
}

.video__video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
