---
layout: default
---

<nav
    class="back-navigation">
  <a
      class="back-navigation__link"
      href="/posts">
    &larr; Posts
  </a>
</nav>

<h1>
  {{ page.title }}
</h1>

<p
    class="post__byline">
  by Dom Habersack (<a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>), published {{ page.date | date: "%b %-d, %Y" }}
</p>

{{ content }}

<aside
    class="author-bio">
  <h3>
    About Dom
  </h3>

  <div
      class="author-bio__content">
    <div
        class="author-bio__headshot-container">
      <img
          class="author-bio__headshot"
          src="{{ site.baseurl }}/assets/dom.jpg">
    </div>

    <p
        class="author-bio__teaser">
      I work with companies on improving their products to serve their
      customers better. If your product does not meet your business goals,
      contact me at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      today so we can start working on a solution!
    </p>
  </div>
</aside>
