---
page_class: home
title: Helping businesses get more business.
---

%article
  %h4 Very content.

  %p
    The best marketing is worthless if your customers cannot find the content
    they are looking for.

  %p
    I take a human-first approach to set your site up with your customers in
    mind, making it as easy as possible for them to get to your content. Keep
    your clients happy and they will keep coming back for more.


%article
  %h4 Responsi<del>ve</del><ins>ble</ins>.

  %p
    Your customers are everywhere: on desktop computers, tablets and
    smartphones. Stop punching them in the face when they want to talk to you.

  %p
    In order for you to always be there for them, I can help you go where they
    are to provide them with the very best experience on any device.


%article
  %h4 Tech-agnostic.

  %p
    Regardless of the technologies your website runs on, the techniques for
    improving it remain the same.

  %p
    While I specialize in WordPress-themes and Ruby on Rails-applications,
    I have worked with several Content Management Systems and platforms and can
    help you get any site back in shape.


%article
  %h4 Tutorrific.

  %p
    I offer one-on-one-tutoring as well as group-seminars on topics from the
    basics of programming to webdesign on request.

  %p
    If you want to bring your in-house team up to speed or are only just
    getting started developing, we can set up a training plan to kickstart that
    process.


%h3 Influences and values


%h3 Contact

%p
  #{ link_to 'Contact me now', '/contact/' } so we can talk about how I can
  help you give your website a facelift and bring it into the 21st century.
