@import 'colors.scss';
@import 'fonts.scss';

//--------------------------------//
// PROXIES                        //
//--------------------------------//

// color proxies
$color-action:       $green;
$color-alert:        $yellow;
$color-brand:        $blue;
$color-debug:        rgba($red, 0.0625);
$color-error:        $red;
$color-highlight:    $yellow;
$color-link:         $blue;
$color-link-visited: $violet;
$color-neutral:      $gray;

// font stack proxies
$font-family-code:     $font-family-monospace;
$font-family-content:  $font-family-serif;
$font-family-data:     $font-family-sans-serif;
$font-family-headings: $font-family-sans-serif;
$font-family-inputs:   $font-family-sans-serif;
$font-family-quotes:   $font-family-serif;


//--------------------------------//
// DEBUGGING                      //
//--------------------------------//

// debug mode displays a grid in the background (depending on the value of
// `$number-of-grid-columns` set below)
$is-in-debug-mode: false;


